.idea
__pycache__
AppDir/opt
AppDir/venv
venv
*.pyc
**.pyc
*/**.pyc
*.qmlc
**.qmlc
*/**.qmlc
!/src/charts/gauge-left-side.qmlc
!/src/charts/gauge-right-side.qmlc
!/src/charts/gauge-right.qmlc
!/src/charts/gauge-left.qmlc
